

/*Segunda página*/





.firstContainer4 {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: var(--violet);
    background-position: center;
    text-align: center;
}

.secondContainer4 {
    background-color: var(--violet);
    background-image: linear-gradient(-25deg, white, var(--gray-200));
    height: 100vh;
    width: 95vw;
    border-bottom: 1px solid var(--blue-600);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    align-items: center;
    justify-content: center;
}

.secondContainer4 h1 {
    display: block;
    font-size: 4rem;
    padding: 5px;
    align-items: center;
    justify-self: center;
    font-style: normal;
}

.professorBlock {
    display: inline-block;
    background-color: var(--blue-400);
    border-radius: 10px;
    height: 65vh;
    width: 16vw;
    margin: 2vw;
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--blue-200);
    box-shadow: 0 0 40px var(--gray-800);
}

.professorBlock:hover {
    height: 70vh;
    width: 18vw;
    cursor: pointer;
    background-color: var(--blue-200);
    transition-duration: 500ms;
}

.professorBlock img {
    height: 85%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: -10%;
    border: 1px solid var(--gray-500);
}

.professorBlock h2 {
    font-family: 'SurferBay', sans-serif;
    font-weight: 200;
    font-size: 2.0rem;
    font-style: normal;
    padding: 5px;
    margin-top: 10px;
}

.firstContainer5 {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: var(--violet);
    background-position: center;
    text-align: center;
}

.secondContainer5 {
    background-color: var(--violet);
    background-image: linear-gradient(-25deg, var(--violet), var(--blue-400));
    height: 100vh;
    width: 95vw;
    border-bottom: 1px solid var(--blue-600);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

.secondContainer5 #scheduleAvailabe {
    display: inline-block;
    background-color: var(--gray-200);
    border-radius: 10px;
    height: 75vh;
    width: 30vw;
    margin: auto;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border: 1px solid var(--blue-600);
    box-shadow: 0 0 40px var(--gray-800);
}

.secondContainer5 #prices {
    display: inline-block;
    background-color: var(--gray-200);
    border-radius: 10px;
    margin: auto;
    height: 75vh;
    width: 30vw;
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--blue-600);
    box-shadow: 0 0 40px var(--gray-800);

}

.secondContainer5 h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
}

.secondContainer5 h1,
h3 {
    color: var(--violet);
}

.secondContainer5 #prices b {
    font-weight: 900;
    color: var(--violet);
}

.secondContainer5 img {
    height: 25vh;
}

.firstContainer6 {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-color: var(--violet);
    background-position: center;
    text-align: center;
}

.secondContainer6 {
    background-color: var(--violet);
    background-image: linear-gradient(75deg, var(--blue-400), var(--violet));
    height: 100vh;
    width: 95vw;
    border-bottom: 1px solid var(--blue-600);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    align-items: center;
    display: flex;
}

.secondContainer6 .informations {
    height: 90vh;
    width: 90vw;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--blue-600);
    box-shadow: 0 0 40px var(--gray-800);
    margin-left: 2vw;
}

.secondContainer6 .informations img {
    height: 85%;
    border-radius: 10px;
    margin:10px;
   
}

.secondContainer6 .informations h2 a{
    color: var(--gray-800);
    text-decoration: none;
    font-weight: 600;
}