:root {
    --gray-200: #dedede;
    --gray-400: #7a7a7a;
    --gray-500: #7f7f7f;
    --gray-800: #3f3f3f;
    --blue-200:#c2ecfb;
    --blue-400:#00c8f4;
    --blue-600:#1e4f61;
    --violet:#726b93;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', Helvetica, sans-serif;
    font-weight: 200;
    font-style: italic;
    line-height: 2;
    color: var(--gray-800);
}









