.container {
    background-color: white;
}

.header {
    display: flex;
    /*background-image: linear-gradient(30deg,var(--blue-200), white,var(--blue-200),white,var(--blue-200), white  );*/
    background-color: white;
    height: 14vh;
    width: 100vw;
    margin: 5px;
    border-bottom: 2px solid var(--blue-600);
    border-top: 2px solid var(--blue-600);
}

.social {
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    height: 14vh;
    width: 40vw;
    transform: translateY(60%);
}

.logo {
    text-align: center;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 20vh;
}

img {
    height: 14vh;
    padding: 5px;
}

.tools {
    text-align: center;
    font-size: 1.0rem;
    justify-content: center;
    position: relative;
    height: 14vh;
    width: 40vw;
    transform: translateY(45%);
}

li {
    display: inline;
    margin: 5px;
    text-decoration: none;
    list-style: none;
    color: var(--blue-600);
    font-size: 1.5rem;
}

li:hover{
    font-size: 2rem;
    cursor: pointer;
    transition-duration: 500ms;
}